@use '../mixin';
@use '../font';

.certificate {

  &__wrapper {
    @include mixin.media('desktop') {
      display: flex;
      justify-content: space-between;
    }
  }
  
  &__description {
    display: flex;
    flex-direction: column;
    margin-bottom: 41px;
    
    @include mixin.media('tablet') {
      margin-bottom: 59px;
    }

    @include mixin.media('desktop') {
      margin-right: 2em;
    }
  }

  &__title-wrapper {
    margin-top: 0;
    margin-bottom: 15px;

    @include mixin.media('tablet') {
      margin-bottom: 20px;
    }
  }
  
  &__pretitle {
    order: -1;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: font.$weight-normal;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    @include mixin.media('tablet') {
      margin-bottom: 30px;
      font-size: 20px;
      line-height: 1.8;
    }
  }
  
  &__title {
    display: block;
    margin-bottom: 30px;
    font-family: font.$accent;
    font-size: 38px;
    line-height: 1;
    font-weight: font.$weight-normal;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    white-space: pre-line;

    @include mixin.media('tablet') {
      margin-bottom: 59px;
      font-size: 90px;
    }
  }
  
  &__subtitle {
    display: block;
    font-size: 24px;
    line-height: 1.16;
    font-weight: font.$weight-semibold;
    white-space: pre-line;
    
    @include mixin.media('tablet') {
      font-size: 40px;
      line-height: 1.1;
    }
  }
  
  &__text {
    margin: 0;
    font-weight: font.$weight-normal;
    
    @include mixin.media('tablet') {
      font-size: 20px;
      line-height: 1.5;
    }
  }

  &__showcase {

    @include mixin.media('desktop') {
      padding-top: 10px;
    }
  }
  
  &__image {
    margin-bottom: 50px;
    
    @include mixin.media('tablet') {
      margin-bottom: 64px;
    }

    @include mixin.media('desktop') {
      margin-bottom: 30px;
    }
  }

  &__share {
    margin-top: 10px;
  }
}
