@use '../font';

.share {
  
  &__title {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: font.$weight-normal;
    margin-top: 0;
    margin-bottom: 10px;
  }

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 24px;
  }
}
