@use '../mixin';
@use '../font';

.share {
  display: flex;

  &__item {
    margin-right: 24px;
    
    @include mixin.media('tablet') {
      margin-right: 28px;
    }
  }

  &__icon {
    width: 56px;
    height: 56px;
  }
}
